@import '../../styles/variables';

.reviews {
    width: 100%;
    max-height: 650px;
    position: relative;
    padding: 0;
    background-color: $pink-color;

    &__img {
        position: absolute;
        height: 100%;
        width: 666px;
        top: 0;
        left: 0;
        background: url('../../assets/img/main/revies_cake.jpg') no-repeat center center/cover;

        @media (max-width: 992px) {
            position: relative;
            width: 100%;
            height: 300px;
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
    }

    &__inner {
        position: relative;
        max-width: 600px;
        width: 100%;
        height: 100%;
        padding: 100px 0;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
    }

    .slick-slide {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .slick-list {
        height: 250px;
        padding: 0; // Убрали лишний padding
    }

    &__slider_wrapper {
        max-width: 510px;
        width: 100%;
        margin: 0 auto;
    }

    &__item-wrapper {
        height: 300px;
        padding: 10px 0;
    }

    .slider__slick {
        height: 250px;
    }

    &__slider_item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        min-height: 200px; // Минимальная высота для видимости
        padding: 25px;
        border-radius: 20px;
        box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
    }

    &__name {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px; // Уменьшили отступ
    }

    &__descr {
        font-size: 16px; // Уменьшили размер шрифта
        font-weight: 500;
        line-height: 22px; // Уменьшили межстрочный интервал
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 110px; // Ограничиваем высоту текста
    }

    &__stars {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }

    &__btn {
        margin-top: 15px;
    }
}

@media (max-width: 1400px) {
    .reviews {
        &__img {
            left: -20%;
        }
    }
}

@media (max-width: 992px) {
    .reviews {
        position: relative;
        z-index: 0;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url('../../assets/img/main/revies_cake.jpg') no-repeat center center / cover;
            filter: blur(2px); // размытие + затемнение
            z-index: -1;
            opacity: 0.2;
        }

        max-height: 550px;

        &__inner {
            padding: 45px 0;
        }

        &__img {
            display: none;
        }

        &__item-wrapper {
            height: 250px;
        }
    }
}