$primary-color: #FB5A5D;
$primary-color-hover: #dc3033;
$secondary-color: #212121;
$text-color: #fff;
$bgcart-color: #F5F5F5;
$price-color: #D6EBE9;
$pink-color: #FFF2F2;
$border-color: #e3e3e3;
$navbtn-color: #ff9b9d;
$white-color: #fff;
$progress-color: #97D9A2;


$btn-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.15);