$primary-color: #FB5A5D;
$primary-color-hover: #dc3033;
$secondary-color: #212121;
$text-color: #fff;
$price-color: #D6EBE9;
$pink-color: #FFF2F2;
$border-color: #C9C9C9;
$navbtn-color: #ff9b9d;

$btn-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.15);