@import '../../styles/variables';

.title {
    font-family: "Nunito";
    font-size: 38px;
    font-weight: 900;
    line-height: 38px;
    color: $secondary-color;
    margin-bottom: 45px;

    &_right {
        text-align: right;
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .title {
        text-align: left;
        &__right {
            text-align: left;
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 26px;
        text-transform: uppercase;
    }
}