@import '../../styles/variables';

.warning {
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
    color: $secondary-color;

    &_red {
        text-transform: uppercase;
        color: $primary-color;
    }

    &_11px {
        font-size: 11px;
        line-height: 12px;
    }
}